.app-header {
    height: 10vh;
    padding: 5px 0px 5px 0px;
    background-color: $clr5;
    justify-content: space-around;
    &.darker {
        background-color: black;
        color: white;
        nav {
            a {
                color: white;
                a:active {
                    color: blue;
                }
            }
        }
    }
}
