.fav-preview{
    padding: 10px;
    height: 200px;
    h2{
        margin-bottom: 5px;
    }
    .favorit-preview-content{
        margin-bottom: 5px;
    }
    .feel-color{
        color:blue
    }
    .delete-btn {
        width: 100px;
        padding: 5px;
        border-radius: 5px;
    }
}