* {
  box-sizing: border-box;
}

::selection {
  background-color: $clr3;
  color: $clr6;
}
.dark {
  background-image: url(//cdn.pixabay.com/photo/2018/10/30/01/46/port-of-haifa-3782542__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $clr6;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: $clr6;
  line-height: 1.6;
}

body {
  margin: 0;
  background-image: url(//cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $clr1;
}

main {
  margin-top: 35px;
  min-height:75vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 0.6em;
}

h1 {
  font-size: rem(35px);
}
a {
  color: $clr2;
  text-decoration: none;
}
a:hover {
  color: $clr3;
}
input,
select,
a,
button {
  cursor: pointer;
}

p {
  margin: 0;
}
