.event-preview {
    padding: 0.5rem;
    border-radius: 5%;
    background-color: $clr4;
    justify-content: space-around;
    .event-year {
        top: 0%;
        text-align: left;
        margin-left: 5px;
        color: red;
        font-weight: bold;
    }
    img {
        width: 250px;
        height: 200px;
        margin-top: 10px;
        border: 2px solid;
        border-radius: 10%;
        top: 0%;
    }
    .event-desc{
        color:$clr6;
        font-size:17px;
    }
}