.app-header {
  background-color: $clr6 !important;
  box-shadow: 0 8px 6px -6px rgb(121, 118, 118);
  color: $clr1 !important;
  height: 10vh;
  justify-content: space-between;
  h1 {
    text-align: center;
    margin: 2%;
  }
}

@media (max-width: $mobile-breakpoint) {
  .app-header h1 {
    font-size: 35px;
  }
}
